@font-face{ 
    font-family: "Roboto";
    src: url("Roboto/RobotoCondensed-Regular.ttf");
}
body {
    background-color: rgb(57, 56, 56);
}

.tableCabeca {
    margin-left: auto;
    width: 70%;
    background-color: rgb(255, 255, 255);
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 8px 10px;
}

.cabecalho {
    height: 100px;
}

.colunaFoto {
    height: 200px;
    width: 150px;
    padding-left: 30px;
    padding-top: 5px;
}

.foto {
    height: 200px;
    width: 150px;
}

.linhaEsquerda {
    width: 4px;
    height: 90%;
    background-color: black;
}

.informacoesCabeca {
    vertical-align: top;
    font-family: Roboto;
    
}

.titulo {
    text-align: center; 
    font-size: 36px
}

.listaCabeca {
    font-size: 21px;
}

.menu {
    margin-left: 10px;
    margin-right: auto;
    height: auto;
    width: 20%;
    border-collapse: collapse;
    border: solid black 4px;
    box-shadow: 8px 10px;
    font-family: Roboto;
    font-weight: bold;
}

.tituloMenu{
    text-align: center;
    font-size: 28px;
    background-color: rgb(102, 88, 57);
    color: white;
}

nav {
    width: 100%;
    background-color: white;
    padding-top: 0px;
    text-align: center;
    height: 190px;
}

nav ul {
    list-style-type: none;
    margin: 0 auto; 
    padding: 0; 
}

nav ul li {
    margin: 0; 
    padding: 0; 
}

nav ul li a {
    background-color: white;
    display: block;
    text-decoration: none;
    transition: background 0.3s;
    text-transform: uppercase;
    padding: 10px 0; 
    margin: 0; 
    color: black;

}

nav ul li a:hover {
    background-color: rgb(95, 90, 90);
    color: #ffffff;
}

.objetivo {
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white; 
    padding: 0;
    border-collapse: collapse;
    font-family: Roboto;
    
}

.formacaoAcademica {
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.cursosComplementares {
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.contato {
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.tituloObjetivo {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    background-color: rgb(102, 88, 57);
}

.textoObjetivo {
    margin: 0; 
    padding: 0; 
}

.table-container {
    display: flex;
  }
